.tasks-container {
  min-height: 70vh;
  background-color: #fff;
}
task-btn:hover {
  opacity: 1;
}

.cdk-drag-preview {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 
              0 1px 2px rgba(0, 0, 0, 0.24);
}