<div class="page-container bg-color">
  
  <div class="tasks-container basis-full md:basis-4/5 2xl:basis-1/2 mb-8  px-10 py-0 md:border md:rounded-xl shadow-lg ">
    <h1 class="text-3xl lg:text-5xl lg:pb-8 pt-4 text-black md:pt-14">Task Manager</h1>

    <!--FORM-->
    <form class="py-10 flex flex-col md:flex-row gap-2 md:gap-0">
      <input type="text" spellcheck="true" placeholder="Enter task here"
        class="w-full md:basis-3/4 md:rounded-l-lg md:rounded-r-none block p-2 border border-gray-300 rounded-lg shadow-sm">
      <button
        class="w-full md:basis-1/4 md:rounded-r-lg md:rounded-l-none font-bold p-2 rounded-lg">
        Add Task
      </button>
    </form>

    <div class="table-container flex flex-col gap-4 md:flex-row justify-between">
      <!--TO DO TABLE-->
      <div class="flex flex-col basis-full md:basis-1/3">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden rounded-lg shadow-md">
              <table class="min-w-full divide-y divide-gray-200 table-auto rounded">
                <thead class="primary rounded-t-lg">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-xs font-bold text-white text-center uppercase">To Do</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 rounded-b-lg">
                  <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 text-start text-sm font-medium text-gray-800">
                      <a class="flex justify-between items-center w-full">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                        <button class="bg-transparent self-end">
                          <i class="material-icons ml-2 text-slate-600">delete</i>
                        </button>
                      </a>
                    </td>
                    <tr class="hover:bg-gray-100">
                      <td class="px-6 py-4 text-start text-sm font-medium text-gray-800">
                        <a class="flex justify-between items-center w-full">
                          <span>Phasellus vehicula, justo at fermentum bibendum, nisi arcu posuere augue, id venenatis turpis purus a nibh.</span>
                          <button class="bg-transparent self-end">
                            <i class="material-icons ml-2 text-slate-600 hover:text-red-900">delete</i>
                          </button>
                        </a>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!--WORKING ON TABLE-->
      <div class="flex flex-col basis-full md:basis-1/3">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden rounded-lg shadow-md">
              <table class="min-w-full divide-y divide-gray-200 table-auto rounded">
                <thead class="secondary rounded-t-lg">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-center text-xs font-xl text-white uppercase">Doing</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 rounded-b-lg">
                  <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 text-start text-sm font-medium text-gray-800">
                      <a class="flex justify-between items-center w-full">
                        <span>Integer eget metus eu libero cursus lacinia non et erat. </span>
                        <button class="bg-transparent self-end">
                          <i class="material-icons ml-2 text-slate-600 hover:text-red-900">delete</i>
                        </button>
                      </a>
                    </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!--DONE TABLE-->
      <div class="flex flex-col basis-full md:basis-1/3">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden rounded-lg shadow-md">
              <table class="min-w-full divide-y divide-gray-200 table-auto rounded">
                <thead class="quaternary rounded-t-lg">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-center text-xs font-lg text-white uppercase">Done</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 rounded-b-lg">
                  <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 text-start text-sm font-medium text-gray-800">
                      <a class="flex justify-between items-center w-full">
                        <span>Curabitur et turpis eu nulla varius fermentum vel non ex.</span>
                        <button class="bg-transparent self-end">
                          <i class="material-icons ml-2 text-slate-600 hover:text-red-900">delete</i>
                        </button>
                      </a>
                    </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>