<div class="page-container bg-white text-center">
  <div class="w-8/10 md:w-3/4 2xl:w-2/3 py-4 lg:py-24 2xl:py-0">
    <h1 class="text-3xl lg:text-4xl 2xl:text-5xl  lg:pb-8 xl:pb-10">Our Story</h1>
    <p class="text-start md:text-center text-lg md:text-xl">
      NodeBucket founders and best friends Sarah and Lynn both found themselves venting about juggling the demands of
      their busy lives a bit too often. Both were professionals with high-pressure jobs that required managing multiple
      deadlines, attending countless meetings, and keeping up with never ending to-do lists. They often found themselves
      sharing their frustrations over coffee, realizing that their challenges were not unique.
      <br><br>One particularly hectic day, as Sarah was scrambling to balance her work commitments and family
      responsibilities and had an epiphany. She shared her idea with Emily, a task management tool designed specifically for
      people like them. A tool that would help busy professionals manage their tasks efficiently and reduce the daily
      chaos to enhance work-life balance.
      Emily, who had always been tech-savvy and shared Sarah's passion for organization immediately saw the potential.
      The two friends decided to turn their idea into reality. They spent evenings and weekends brainstorming,
      researching, and planning. Their goal was to create a user-friendly platform that would integrate seamlessly into
      the lives of busy professionals.Thus, NodeBucket was born.
      <br><br>Here at Nodebucket we hope this tool can help other people, whether in their
      professional or personal lives, work efficiently while creating balance and more time for the things that are most
      important without missing a deadline. We hope you join us on our journey to take the stress out of our
      obligations.

    </p>
  </div>
</div>