<div class="page-container flex-col text-center">
  <h1 class="text-3xl lg:text-4xl 2xl:text-5xl lg:pb-8">Contact Us</h1>

  <div class="grid gap-y-8 grid-cols-1 md:grid-cols-2 md:gap-x-14 py-8 px-4 md:p-10 xl:gap-x-48">
    <div class="flex-col">
      <mat-icon aria-hidden="false" aria-label="Phone icon" fontIcon="phone" color="light-accent"></mat-icon>
      <h2 class="text-xl md:text-3xl pb-4 xl:pb-10">Phone</h2>
      <p class="text-lg md:text-xl">Phone: 1(800)555-5435</p>
      <p class="text-lg md:text-xl">Fax: 1(800)555-5432</p>
    </div>

    <div class="leading-loose">
      <mat-icon aria-hidden="false" aria-label="Location icon" fontIcon="location_on" color="light-accent"></mat-icon>
      <h2 class="text-xl md:text-3xl py-4">Address</h2>
      <p class="text-lg md:text-xl">4885 University Drive<br>
        Chicago,IL<br>
        60610</p>
    </div>
  </div>
</div>

