
<div class="2xl:h-screen justify-center flex flex-col items-center">
  <div class="flex flex-col lg:flex-row w-full justify-center 2xl:w-2/3 2xl:shadow-lg">
    <div class="w-full lg:w-1/2">
      <div #mapContainer id="map" class="h-full w-full"></div>
    </div>
    <div class="w-full bg-white lg:w-1/2 px-4 py-20 ">
      <h2 class="text-3xl lg:text-4xl pl-6 pb-3 primary-text">Contact Us</h2>
      <ul>
        <li class="flex p-4">
          <i class="material-icons px-2 secondary-text">phone</i>

            <h4 class="text-lg lg:text-xl font-semibold ">Phone:</h4>
            <a href="tel:+18005555435" class="text-lg lg:text-xl  pl-2">1(800)555-5435</a>
        
        </li>
        <li class="flex  p-4">
          <i class="material-icons px-2 secondary-text">fax</i>
      
            <h4 class="text-lg lg:text-xl font-semibold ">Fax:</h4>
            <p class="text-lg lg:text-xl  pl-2">1(800)555-5432</p>
        
        </li>
        <li class="flex  p-4">
          <i class="material-icons px-2 secondary-text">email</i>
      
            <h4 class="text-lg lg:text-xl font-semibold ">Email:</h4>
            <a href="mailto:support&#64;example.com" class="text-lg lg:text-xl  pl-2">support&#64;example.com</a>
        
        </li>
        <li class="flex p-4">
          <i class="material-icons px-2 secondary-text">location_pin</i>
      
            <h4 class="text-lg lg:text-xl font-semibold">Address:</h4>
            <p class="text-lg lg:text-xl  pl-2">
              Bellevue University<br>1000 Galvin Rd S<br> Bellevue, NE 68005
            </p>
        
        </li>
      </ul>
    </div>
  </div>
</div>
