<div class="home-container flex text-center lg:text-start justify-center lg:justify-end 3xl:items-center">
  <div
    class="lg:pt-20 2xl:px-30 2xl:pt-40 3xl:py-0 w-3/4 md:w-2/3 xl:w-5/12 md:mr-12 2xl:mr-40 3xl:mr-60 text-slate-100">

    <h1 class="pb-6 pt-20 text-3xl font-bold tracking-wide uppercase md:text-4xl xl:text-5xl">
      Elevate your productivity
    </h1>

    <p class="md:text-lg ">
      Elevate your productivity with our task management app. Designed to streamline your workflow, our platform offers
      tools that help you stay organized and on task. Whether you’re managing personal projects or coordinating team
      efforts, our tools ensures no detail is forgotten.. Experience the efficiency of having all your tasks in one
      place and change the way you work. Our product allows you to add, organize, and rank your tasks so you can make
      sure the things you need to do are always on the top of your list. Say hello to efficiency and goodbye to
      forgetting deadlines with our task management tools. </p>

    <button routerLink="contact"
      class="mt-6 2xl:mt-10 font-bold py-2.5 px-5 rounded secondary text-slate-900 hover:border hover:border-blue-900 hover:text-blue-900 hover:bg-white hover:bg-opacity-95 focus:shadow">
      Contact Us Today!
    </button>
  </div>
</div>