<div class="min-h-screen flex flex-col items-center text-center primary-text md:justify-center md:pt-0">
  <h1 class="pt-20 md:pt-0 text-3xl font-bold tracking-widest uppercase text-center md:text-5xl">
    Elevate your brand
  </h1>
  <div class="py-3 w-3/4 md:w-2/3 md:py-8 2xl:w-1/2">
    <p class="md:text-lg primary-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi, dolorem odit suscipit iure temporibus
      quia optio a vitae eos eaque laudantium nulla? Eius ea nesciunt, nobis neque esse repellat. suscipit iure
      temporibus
      quia optio a vitae eos eaque laudantium.Nisi doloremque sunt voluptates laudantium sapiente vel
      cumque, incidunt fugit, dolorem iure, at nam explicabo ad necessitatibus impedit culpa et. Est, facere? Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi, dolorem odit suscipit iure temporibus
      quia optio a vitae eos eaque laudantium nulla? 
  </div>
  <button routerLink="contact" class="mt-6 font-bold py-2.5 px-5 rounded">
    Contact Us Today!
  </button>
  <a routerLink="/security" class="pt-4 text-red-400">Test Security Module</a>
</div>
